/* p {
    color: blue;
}

.cselector {
    color : red ;
}

#iselector {
    color : pink ;
}

body {
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.class{
    color : purple ;
} */


.outer-box {
    margin: 10px;
    justify-content: center;
    background-color: blue;
    padding: 50px;
}

.inner-box {
    background-color: yellow;
    padding: 50px;
}

.text-inside {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;}

.parent-box {
    justify-content: center;
    max-width: 800px;
    border: 2px solid black;
}